body{
    margin: 0;
    padding: 0;
}

.main-container{
    padding-top: 30px;
}

.box{
    background: #bf5a16;
    list-style: none;
    margin: 15px 0;
    padding: 10px;
}

.list-boxes{
	list-style: none;
	padding: 0;
}